:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --secundario-oscuro: #006772;
    --gris: #757575;
    --gris-claro: #DFF9F3;
}

/** Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box; /** Hack para Box Model **/
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-size: 16px; /** 1rem = 10px **/
    font-family: "Krub", sans-serif;
    background-image: linear-gradient( to top, var(--gris-claro) 0%, var(--blanco) 100% );
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    border-radius: 1.2rem;
    border: none;
}

.boton:hover {
    background-color: var(--secundario-oscuro);
    cursor: pointer;
}

.boton:active {
    background-color: var(--primario);
    color: var(--oscuro);
}

.sombra {
    box-shadow: 2px 3px 14px 0px rgba(112,112,112,0.48);

    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/** Tipografía **/
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

/** Navegación Principal **/
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

/** Hero **/
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba( 0,0,0, .5); /** Anteriormete **/
    background-color: rgb( 0 0 0 / 50% ); /** Nueva Sintaxis **/
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contenido-hero .ubicacion {
    display: flex;

}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

/** Servicios **/
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 10rem;
    width: 10rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Contact0 **/
.formulario {
    background-color: var(--gris);
    width: min( 60rem, 100% ); /** Utiizar el valor más pequeño **/
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    color: var(--primario);
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.contenedor-campos {

}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo input,
.campo textarea {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.campo textarea {
    height: 20rem;
}

.enviar .boton {
    display: block;
    margin: 0 auto;
}

/** Footer **/
.footer {
    text-align: center;
}